---
import data from "../content/index/data.json";
---

<footer>
  <div class="container footer">
    <h2 class="visuallyhidden">
      Retrouvez les liens utiles et informations pratique relative au TNT
    </h2>
    <div class="footer__title">
      <p>Trail<br />Nocturne<br />Touchois</p>
    </div>
    <div class="footer__links">
      <h3 class="footer__h3">Liens utiles</h3>
      <ul class="footer__list">
        <li>
          <a href={data.pages.index.content.footer.contact.email.href}
            >Contactez-nous</a
          >
        </li>
        <li>
          <a href={data.pages.index.content.footer.rules_href} target="_blank"
            >Réglement de la course</a
          >
        </li>
        <li>
          <a href="/legals">Mentions légales</a>
        </li>
      </ul>
    </div>
    <div class="footer__infos">
      <h3 class="footer__h3">Infos pratiques</h3>
      <ul class="footer__list">
        <li>
          <a href="https://goo.gl/maps/6yrbQn3syNmPXA227" target="_blank"
            >44390 Les Touches France</a
          >
        </li>
        <li>
          <a href={data.pages.index.content.footer.contact.email.href}
            >{data.pages.index.content.footer.contact.email.label}</a
          >
        </li>
        <li>
          <a href={data.pages.index.content.footer.contact.tel.href}
            >{data.pages.index.content.footer.contact.tel.label}</a
          >
        </li>
      </ul>
    </div>
  </div>
  <p class="copyright">
    &copy; {new Date().getFullYear()} - TNT Les Touches - Tous droits réservés.
    <a href="/legals">Mentions légales</a>
  </p>
</footer>

<style>
  footer {
    background-color: var(--black);
    color: var(--white);
  }
  .footer {
    padding-block: 2.5em;
    display: flex;
    line-height: 2em;
    justify-content: space-between;
  }
  .footer__title {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .footer__h3 {
    text-transform: uppercase;
  }
  .footer__h3::after {
    content: "";
    display: block;
    margin-bottom: 0.5em;
    width: 120%;
    height: 2px;
    background-color: var(--primary-color);
  }
  .copyright {
    font-size: 0.8em;
    color: gray;
    padding-bottom: 1.5em;
    text-align: center;
  }
  @media (max-width: 816px) {
    .footer {
      flex-wrap: wrap;
    }
    .footer__title {
      flex-basis: 100%;
      margin-bottom: 1em;
    }
    .footer__h3::after {
      width: 30%;
    }
  }
  @media (max-width: 420px) {
    .footer {
      flex-direction: column;
      gap: 1em;
    }
    .footer__title {
      font-size: 12vw;
      margin-bottom: 0;
    }
    .footer__h3::after {
      width: 50%;
    }
  }
</style>
